@charset "UTF-8";


/* -------------- XFORMS OF ---------------- */


.xforms-trigger-appearance-minimal {
	color: #0000FF;
	text-decoration: underline;
}
.xforms-trigger-appearance-minimal:hover {
	color: #0000FF;
	text-decoration: underline;
}
.xforms-input-input {
	color: #000000;
	font-family: Times New Roman, Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	width: 200px;
}